.box {
    color: black;
    background-color: rgb(139, 194, 139);
}

img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    float: right;
    margin-right: 20px;
    object-fit: fill;
}

strong {
    color: rgb(207, 10, 10);
    font-style: normal;
}

body {
    text-align: left;
}