h1 {
    width: 150px;
    color: blue;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    float: left;
    margin-right: 20px;
    object-fit: fill;
}

strong {
    color: rgb(207, 10, 10);
    font-style: normal;
}

body {
    text-align: center;
}